{% extends 'bootstrap_base.html' %}

{% block title %}
        {% if title %}
            {{ title }}
        {% else %}
            The Constant Gardener
        {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block navbar %} 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">The Constant Gardener</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>                    
                    <li><a class="nav-link" href="{{ url_for('water_plants') }}">Water Plants</a></li>
                    <li><a class="nav-link" href="{{ url_for('register_plant') }}">New Plant</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                    <li><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %} 
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>            
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}