<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>The Constant Gardener</title>
        {% endif %}

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}

    </head>
    <body>        
        <h1>Hello, and welcome</h1>
        {% if current_user.is_anonymous %}
        <p><a href="{{ url_for('login') }}">Login</a></p>
        {% else %}
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>