{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_anonymous %}
    <h2>Welcome!</h2>
    {% else %}
    <h2>Welcome back {{ current_user.username }}!</h2>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            {% for plant in plants %}
                <div class="col-sm-4" style="padding-bottom: 15px;">
                    <div class="card" style="width: 20rem;">
                        {% if plant.image_url %}
                        <img src="{{ plant.image_url }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ plant.name }}</h4>
                            <p class="card-text">
                                {{ plant.name }} is located in the {{ plant.location }} and was last watered {{ moment(plant.last_watered).format("LLLL") }}.
                            </p>
                            <a href="{{ url_for('manage_plant', id=plant.id) }}" class="btn btn-secondary">Manage Plant</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}