{% extends "base.html" %}

{% block content %}
    <h2>Register Plant</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_watered_date.label }}<br>
            {{ form.last_watered_date() }} {{ form.last_watered_time() }}<br>
            {% for error in form.last_watered_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.last_watered_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.photo() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}